body {
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
   
}
.music-controls{
   position: absolute;
   top: 450px;
   left:50px;
}
.start-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(238, 255, 0, 0.861);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #a49c00;
}

.exit-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #f02525c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exit-btn:hover {
    background-color: #cc0000;
}

.music-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #42a5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.music-btn:hover {
    background-color: #1976d2;
}

@media(max-width:753px){
    body {
        background: url("../img/bg.jpg"); 
        min-height: 100vh;
        background-size: 100vw 98vh;
        background-repeat: no-repeat;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    }      
}